# Core
pytz==2021.1  # django dependency
Django~=3.1.7
utils2devops>=0.1.4  # the latest alway

# Storages
psycopg2-binary~=2.8.6

# Rest apis
djangorestframework~=3.12.2
django-filter~=2.4.0
six~=1.15.0  # django-rest-auth pytest dependency
django-rest-auth~=0.9.5

# Dynamic Documentations
certifi~=2020.12.5  # coreapi dependency
coreschema~=0.0.4  # coreapi dependency
itypes~=1.2.0  # coreapi dependency
uritemplate~=3.0.1  # coreapi dependency
coreapi~=2.3.3

# static documentation
MarkupSafe>=1.1.1  # Jinja2 dependency
requests~=2.25.1

daphne~=3.0.1
jwt~=1.2.0
djangorestframework-jwt~=1.11.0
Twisted~=21.2.0
cryptography~=3.3.2
pyasn1~=0.4.8
autobahn~=21.2.1
